body {
	background-image: url(../img/bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #FFFFFF;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
}

.container {
	max-width: 1030px;
	width: 100%;
	margin: 0 auto;
}

.header {
	margin-top: 51px;

}

.header__flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 61px;
}

.header__logo {
	width: 180px;
	cursor: pointer;
	background-image: url(../img/logo2.svg);
	background-position: left;
	background-repeat: no-repeat;
	background-size: 53px 47px;
	text-decoration: none;
	color: #FFFFFF;
}
.header__logo:hover{
	background-image: url(../img/logo3.svg);
}
.header__logo_title{
	margin-left: 65px;
	font-weight: 700;
font-size: 29px;
line-height: 29px;
}
.header__logo_subtitle{
	margin-left: 65px;
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
}
.header__logo:hover .header__logo_title,
.header__logo:hover .header__logo_subtitle{
	color: #F26522;
}

.header__info {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	height: 61px;
}

.header__info_text {
	font-size: 18px;
	line-height: 18px;
	color: #fff;
	text-decoration: none;
}

.header__info_text:hover {
	color: #F26522;
	cursor: pointer;
}

.gallery {
	margin-top: 26px;
}

.gallery__grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 37px 55px;
	justify-items: center;
	align-items: center;

}

.gallery__grid_img {
	width: 300px;
	height: 220px;
	object-fit: cover;
	
}

.gallery__grid_text {
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	margin-top: 20px;
}

.gallery__grid_item {
	cursor: pointer;
	position: relative;
	text-decoration: none;
	color: #FFFFFF;
}

.gallery__grid_item:hover .gallery__grid_text {
	color: #F26522;
}

.gallery__description {
	position: absolute;
	left: 0;
	bottom:40px;
	width: 270px;
	background-color: #F26522;
	padding: 7px 16px 12px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 36px;

	transform: translateY(50px);
	transition: 0.1s;
	opacity: 0;
	
}

.gallery__grid_item:hover .gallery__description {
	transform: translateY(0px);
	opacity: 1;
	
}

.gallery__price_subtitle {
	font-size: 10px;
	line-height: 10px;
}

.gallery__price_title {
	margin-top: 8px;
	font-size: 20px;
	line-height: 20px;
}

.gallery__details_title {
	font-size: 14px;
	line-height: 14px;
	position: relative;
	margin-right: 15px;
}

.gallery__details_title::after{
	content: "";	
    width: 6px;
    height: 6px;
    border:  solid #fff;
    border-width: 2px 0 0 2px;
    transform: translate(-50%, -50%) rotate(136deg);
    position: absolute;
    right: -15px;
    top: 50%;
}

.footer {
	margin: 49px auto 12px;
	text-align: center;
}

.footer__text {
	font-size: 12px;
	line-height: 12px;
}